.app {
	text-align: center;
	padding: 0 5px 5px 5px;
}

.main-content {
	display: flex;
	justify-content: center;
}

.central-content {
	padding-left: 20px;
	min-width: 502px;
}

@media screen and (max-width: 670px) {
	.app {
		padding: 0 15px 15px 15px;
		text-align: center;
		width: auto;
	}

	.central-content {
		padding-left: 20px;
		min-width: 72%;
	}
}

@media screen and (max-width: 375px) {
	.app {
		padding: 0 15px 15px 15px;
		text-align: center;
		width: auto;
	}

	.main-content {
		display: block;
	}

	.central-content {
		padding-left: 0;
		min-width: auto;
	}
}
